.pitButton:hover .pitButtonContent{
    visibility: visible;
}

.pitButton:hover .toolTipText {
    visibility: visible;
    opacity: 1;
}

.pitButton .toolTipText::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f0f7dabe transparent transparent transparent;
  }